

@import "tailwindcss";
/* hide scrollbar but allow scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}




/* #header
{
background-color: #5e7627;
    display: flex;
height: 85px;
    justify-content: space-between;
    border: 2px solid green;
    font-size: larger;
}


#header >h1{

    text-align: center;
}
.logo

{

    height: 120px;

}
.nav
{

    display: flex;
    font-size:larger ;

   font-weight: bolder;

    list-style-type: none;

     justify-content: space-between;
}

.nav> li
{

   margin: 10px;
}





#intro {
    margin-top:50px;
    background-color: #f0f0f0;
  display: flex;

  align-items: center;
  justify-content: space-between;

  gap: 40px;
  padding: 20px;
  box-sizing: border-box;
}

.intro-text {
  width: 40%;
  color: #34561a;
}

.intro-image {
   width: 50%;
}

.intro-image img {
  width: 100%;
  height: 600px;

} */
